extends ../../includes/layout

block content
  .container
    .row
      .panel.panel-success
        .panel-heading
          h4 #{keyword}
        .panel-body
          if musics && musics.length > 0
            each item in musics
              .col-md-2
                .thumbnail
                  if item.image.indexOf('http:') > -1
                    a(href="/music/#{item._id}")
                      img(src="#{item.image}" alt="#{item.title}" style="height: 120px; width: 120px;")
                  else
                    a(href="/music/#{item._id}")
                      img(src="/upload/music/#{item.image}", alt="#{item.title}" style="height: 120px; width: 120px;")
                  .caption(style="text-align: center")
                    h5(style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;") #{item.title}
          if musicCats && musicCats.length > 0
            each item in musicCats
              .panel.panel-info
                .panel-heading
                  h5 #{item.name}
                .panel-body
                  each music in item.musics
                    .col-md-2
                      .thumbnail
                        if music.image && music.image.indexOf('http:') > -1
                          a(href="/music/#{music._id}")
                            img(src="#{music.image}", alt="#{music.title}" style="height: 120px; width: 120px;")
                        else
                          a(href="/music/#{music._id}")
                            img(src="/upload/music/#{music.image}", alt="#{music.title}" style="height: 120px; width: 120px;")
                        .caption
                          h5(style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;") #{music.title}
      div(style="margin: 0 auto;text-align: center;")
        ul.pagination#page(data-currentPage = currentPage data-totalPage = totalPage data-query = query)
  script(src="/libs/scripts/js/include/page.min.js")
  script(src="/libs/scripts/js/music/music_results.min.js")
