extends ../../includes/layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 榜单类名
            th 歌单类名
            th 更新时间
            th 查看
            th 修改
            th 删除
        tbody
          each item in programmes
            tr(class="item-id-#{item._id}")
              td #{item.name}
              td
                each unit in item.musicCategories
                  | #{unit.name} 、
              td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
              td: a(target="_blank", href="/music/results?pro=#{item._id}&p=0") 查看
              td: a(target="_blank", href="/admin/music/list") 修改
              td
                button.btn.btn-danger.programmeDel(type="button", data-id="#{item._id}") 删除
  script(src="/libs/scripts/js/music/music_admin.min.js")
