extends ../../includes/layout

block content
  .container
    .row
      form.form-horizontal(method="post" action="/admin/music/musicCategory/new")
        if musicCategory._id
          input(type="hidden" name="musicCategory[_id]" value=musicCategory._id)
        .form-group
          label.col-sm-3.control-label(for="inputProgramme") 榜单分类
          .col-sm-6
            input#inputProgramme.form-control(type="text" name="musicCategory[programmeName]" value=musicCategory.programmeName)
        .form-group
          label.col-sm-3.control-label 榜单分类选择
          .col-sm-6
            each cat in programmes
              label.radio-inline
                if musicCategory._id
                  input(type="radio" name="musicCategory[programme]" value=cat._id checked=cat._id.toString()==musicCategory.programme.toString())
                else
                  input(type="radio" name="musicCategory[programme]" value=cat._id)
                | #{cat.name}
        .form-group
          label.col-sm-3.control-label(for="inputMusicCategory") 音乐分类
          .col-sm-6
            input#inputMusicCategory.form-control(type="text" name="musicCategory[name]" value=musicCategory.name)
        .form-group
          .col-sm-offset-3.col-sm-6
            button.btn.btn-default(type="submit") 录入
