extends ../../includes/layout

block link
  meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
  meta(name="keywords" content="电影、经典电影、热映、电视剧、美剧、影评、电影院、电影票、排行、推荐")
  meta(name="description" content="豆瓣电影提供最新的电影介绍及评论包括上映影片的影讯查询及购票服务。你可以记录想看、在看和看过的电影电视剧，顺便打分、写影评。根据你的口味，豆瓣电影会推荐好电影给你。")
  link(href="/libs/css/movie/movie_index.min.css",rel="stylesheet")
block content
  // 容器标签节点
  .wrapper
    .content
      .container-fluid
        .row
          .col-md-6.col-md-offset-1.screen
            // 顶部轮播图标签节点
            #scrollMoives
              each cat in categories
                if cat.name === '正在上映'
                  .panel.panel-default
                    .panel-heading.screen-header
                      h4#headerNow
                        a(href="/movie/results?cat=#{cat._id}&p=0" target="_blank") #{cat.name}
                        span 即将上映
                        i »
                      .slide-tip
                        span.side-index 1
                        span &nbsp;/&nbsp;
                        span.side-max
                        button.slide-prev
                        button.slide-next
                    #screenBody.panel-body.screen-body(style="width:10000px;")
                      if cat.movies && cat.movies.length > 0
                        each item in cat.movies
                          .thumbnail.scroll-item(style="width:127px;")
                            a(href="/movie/#{item._id}" target="_blank")
                              if item.poster.indexOf('http:') > -1
                                img(src="#{item.poster}", alt="#{item.title}")
                              else
                                img(src="/upload/movie/#{item.poster}", alt="#{item.title}")
                            .caption
                              h5 #{item.title}
                              p: a.btn.btn-primary(href="/movie/#{item._id}" role="button" target="_blank") 观看预告片
            // 顶部轮播图下方广告标签节点
            .left-advertisement
              a(href="javascript:;")
                img(src="/libs/images/movie/middleImg/1.jpg" alt="middelImg")
            // 选电影/选电视剧标签节点
            #fliterMovies.fliter-movies
              .screen
                .class-top
                  span.active 选电影
                  i &nbsp;/&nbsp;
                  span 选电视剧
                  hr
                  ul
                    li
                      button.btn.btn-primary 热门
                    li
                      button.btn.btn-default 最新
                    li
                      button.btn.btn-default 经典
                    li
                      button.btn.btn-default 豆瓣高分
                    li
                      button.btn.btn-default 冷门佳片
                    li
                      button.btn.btn-default 华语
                    li
                      button.btn.btn-default 欧美
                    li
                      button.btn.btn-default 韩国
                  hr
                // 热门电影标签节点
                .screen-body
                  each cat in categories
                    if cat.name === '热门电影'
                      .panel.panel-default
                        #classBody.panel-body.screen-body
                          if cat.movies && cat.movies.length > 0
                            each item in cat.movies
                              .col-md-3.col-sm-3.col-xs-4
                                .thumbnail
                                  a(href="/movie/#{item._id}" target="_blank")
                                    if item.poster.indexOf('http:') > -1
                                      img(src="#{item.poster}", alt="#{item.title}")
                                    else
                                      img(src="/upload/#{item.poster}", alt="#{item.title}")
                                  .caption
                                    h5 #{item.title}
                        a.more(href="javascript:;" role="button") 加载更多
            // 热门推荐标签节点
            #galleryFrames.panel.panel-default
              .panel-heading.screen-header
                h4 热门推荐
                .slide-tip
                  span.side-index 1
                  span &nbsp;/&nbsp;
                  span.side-max
                  button.slide-prev
                  button.slide-next
              .pannel-body
                ul.slide-content.clearfix(style="")
                  li.slide-item
                    a(href="javascript:;")
                      img(src="/libs/images/movie/galleryFrames/4.jpg" alt="【豆瓣会客厅】王千源：用实力证明不凡")
                    .slide-detail
                      .slide-hd
                        a(href="javascript:;" target="_blank")
                          h5 【豆瓣会客厅】王千源：用实力证明不凡
                      .slide-hd
                        p 在《解救吾先生》中扮演悍匪华子的王千源做客豆瓣会客厅。
                  li.slide-item
                    a(href="javascript:;")
                      img(src="/libs/images/movie/galleryFrames/1.jpg" alt="【豆瓣会客厅】王千源：用实力证明不凡")
                    .slide-detail
                      .slide-hd
                        a(href="javascript:;" target="_blank")
                          h5 豆瓣会客厅】王千源：用实力证明不凡
                      .slide-hd
                        p 在《解救吾先生》中扮演悍匪华子的王千源做客豆瓣会客厅。
                  li.slide-item
                    a(href="javascript:;")
                      img(src="/libs/images/movie/galleryFrames/2.jpg" alt="怒吼你心中的怪兽(╰_╯)")
                    .slide-detail
                      .slide-hd
                        a(href="javascript:;" target="_blank")
                          h5 怒吼你心中的怪兽(╰_╯)
                      .slide-hd
                        p 每个人的心里都有一个怪兽。或是贪，或是嗔，或是色，或是恶。
                  li.slide-item
                    a(href="javascript:;")
                      img(src="/libs/images/movie/galleryFrames/3.jpg" alt="关于电影本身的电影")
                    .slide-detail
                      .slide-hd
                        a(href="javascript:;" target="_blank")
                          h5 关于电影本身的电影
                      .slide-hd
                        p 讲述和电影本身有关的一切的电影，电影幕后，电影明星，电影导演，电影海报，电影拍摄，电影制作，电影历史。让爱电影的人更了解电影。
                  li.slide-item
                    a(href="javascript:;")
                      img(src="/libs/images/movie/galleryFrames/4.jpg" alt="【豆瓣会客厅】王千源：用实力证明不凡")
                    .slide-detail
                      .slide-hd
                        a(href="javascript:;" target="_blank")
                          h5 【豆瓣会客厅】王千源：用实力证明不凡
                      .slide-hd
                        p 在《解救吾先生》中扮演悍匪华子的王千源做客豆瓣会客厅。
                  li.slide-item
                    a(href="javascript:;")
                      img(src="/libs/images/movie/galleryFrames/1.jpg" alt="【豆瓣会客厅】王千源：用实力证明不凡")
                    .slide-detail
                      .slide-hd
                        a(href="javascript:;" target="_blank")
                          h5 豆瓣会客厅】王千源：用实力证明不凡
                      .slide-hd
                        p 在《解救吾先生》中扮演悍匪华子的王千源做客豆瓣会客厅。
          // 电影院搜索标签节点
          .col-md-4
            .cinemas-search
              #citySearch.city
                span 广州
                i.glyphicon.glyphicon-triangle-bottom
                #citiesList.cities-list(style="display:none")
                  // 电影院标题分类名称
                  ul.cities-list-hd
                    - for(var i = 0; i < cityProgrammeList.length; i++)
                      if cityProgrammeList[i].name === '热门'
                        li.on(index=1) 热门
                      else
                        li(index=i+1) #{cityProgrammeList[i].name}
                  hr
                  // 全国城市分类列表
                  .cities-list-bd
                    // 热门城市列表
                    - for(var j = 0; j < cityProgrammeList.length; j++)
                      if cityProgrammeList[j]
                        if cityProgrammeList[j].name === '热门'
                          .cities-list-item.active
                            ul
                              - for(var h = 0; h < cityCategoryList.length; h++)
                                if cityCategoryList[h].name === '热门'
                                  - for(var k = 0; k < cityCategoryList[h].cities.length; k++)
                                    li: a.city-item(href="javascript:;") #{cityCategoryList[h].cities[k].name}
                        else
                          .cities-list-item
                            - for(var y = 0; y < cityCategoryList.length; y++)
                              if cityCategoryList[y].cityProgramme
                                if cityProgrammeList[j].name === cityCategoryList[y].cityProgramme.name
                                  dl.city-mod
                                    dt #{cityCategoryList[y].name}
                                    dd
                                      ul
                                        - for(var z = 0; z < cityCategoryList[y].cities.length; z++)
                                          li: a.city-item(href="javascript:;") #{cityCategoryList[y].cities[z].name}
                                    hr
              // 电影院搜索节点标签
              #citySug.city-suggestion
                .city-suggestion-input
                  input(placeholder="搜索本地电影院")
                  i.placeholder.glyphicon.glyphicon-search
                .city-suggestion-list(style="display:none;")
                  h5 可售票影院
                  ul.auto-tip
            // 电影院下方广告节点标签
            .right-advertisement
              a(href="/fullpage" target="_blank")
                img(src="/libs/images/movie/advertisements/1.jpg")
            // 电影活动部分节点标签
            .right-advertisementList
              h4 电影活动&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
              ul
                li: a(href="javascript:;") 观影大福利！《头脑特工队》周边限量抢
                li: a(href="javascript:;") 【有奖】怒吼你心中的怪兽(╰_╯)#
                li: a(href="javascript:;") 资讯|《小王子》曝光终极预告海报
            // 本周口碑榜节点标签
            .billboard
              each cat in categories
                if cat.name === '本周口碑榜'
                  .billboard-hd
                    h4 本周口碑榜
                  .billboard-bd
                    table.table.table-hover
                      tbody
                        - var i = 1
                        if cat.movies && cat.movies.length > 0
                          each item in cat.movies
                            if i <= 10
                              tr
                                td.order=i++
                                td
                                  a(href="/movie/#{item._id}" target="_blank") #{item.title}
            // 本周口碑榜下方广告部分节点标签
            .right-advertisement
              a(href="javascript:;")
                img(src="/libs/images/movie/advertisements/2.jpg")
  // 电影首页JS脚本
  script(src="/libs/scripts/js/movie/movie_index.min.js")
