extends ./movie_layout

block content
  .container
    .row
      .panel.panel-success
        .panel-heading
          h4 #{keyword}
        .panel-body
          if movies && movies.length > 0
            each item in movies
              .col-md-2
                .thumbnail
                  a(href="/movie/#{item._id}")
                    img(src="#{item.poster}", alt="#{item.title}" style="height: 200px;")
                  .caption
                    h5(style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;") #{item.title}
                    p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片
      ul.pagination
        - for (var i = 0; i < totalPage; i++) {
          - if (currentPage == (i + 1)) {
              li.active
                span #{currentPage}
          - }
          - else {
              li
                a(href='/movie/results?#{query}&p=#{i}') #{i + 1}
          - }
        - }
