extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/city")
        //- .form-group
        //-   each cat in categories
        //-     label.radio-inline
        //-       if movie._id
        //-         input(type="radio", name="movie[category]", value=cat._id, checked=cat._id.toString()==movie.category.toString())
        //-       else
        //-         input(type="radio", name="movie[category]", value=cat._id)
        //-       | #{cat.name}        
        .form-group
          label.col-sm-3.control-label(for="inputCity") 城市
          .col-sm-6
            input#inputCity.form-control(type="text", name="city[cityName]", value=city.cityName)
        .form-group
          label.col-sm-3.control-label(for="inputCityName") 影院名称
          .col-sm-6
            input#inputCity.form-control(type="text", name="city[name]", value=city.name)
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") 录入
                    