extends ../layout
block link
  link(href="/css/index.css",rel="stylesheet")
  script(src="/js/main.js")
block content
  .wrapper
    .content
      .container-fluid
        .row
          .col-md-6.screen#m-screenTop                        
            each cat in categories
              if cat.name === '正在上映' || cat.name === '即将上映'
                .panel.panel-default
                  .panel-heading.m-screenHeader
                    h4 
                      a(href="/results?cat=#{cat._id}&p=0") #{cat.name}
                    .slide-tip
                      span.ui-side-index 1
                      &nbsp;/&nbsp;
                      span.ui-side-max 
                      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                      span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                  .panel-body.m-screenBody 
                    if cat.movies && cat.movies.length > 0
                      each item in cat.movies                
                        .thumbnail
                          a(href="/movie/#{item._id}")
                            if item.poster.indexOf('http:') > -1
                              img(src="#{item.poster}", alt="#{item.title}")
                            else
                              img(src="/upload/#{item.poster}", alt="#{item.title}")
                          .caption
                            h5 #{item.title}
                            p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片
          .col-md-4.m-cinemasSearch
            .cinemasSearch-bd.clearfix
              .city
                span#cityId 广州
                i.glyphicon.glyphicon-triangle-bottom
                .cities-list#citiesList(style="display:none")
                  .cities-list-hd
                    span.on(index=1) 热门
                    span(index=2)  A - G
                    span(index=3)  H - L
                    span(index=4)  M - T
                    span(index=5)  W - Z
                  hr
                  .cities-list-bd
                    .cities-list-item.active
                      span: a.city-item(href="javascript:;") 北京
                      span: a.city-item(href="javascript:;") 上海
                      span: a.city-item(href="javascript:;") 广州
                      span: a.city-item(href="javascript:;") 深圳
                      span: a.city-item(href="javascript:;") 成都
                      span: a.city-item(href="javascript:;") 武汉
                      span: a.city-item(href="javascript:;") 郑州
                      span: a.city-item(href="javascript:;") 杭州
                      span: a.city-item(href="javascript:;") 重庆
                      span: a.city-item(href="javascript:;") 南京
                      span: a.city-item(href="javascript:;") 西安
                      span: a.city-item(href="javascript:;") 苏州
                      span: a.city-item(href="javascript:;") 天津
                      span: a.city-item(href="javascript:;") 长沙
                      span: a.city-item(href="javascript:;") 福州
                      span: a.city-item(href="javascript:;") 沈阳
                      span: a.city-item(href="javascript:;") 济南
                      span: a.city-item(href="javascript:;") 温州
                      span: a.city-item(href="javascript:;") 哈尔滨
                      span: a.city-item(href="javascript:;") 合肥
                      span: a.city-item(href="javascript:;") 青岛
                      span: a.city-item(href="javascript:;") 大连
                      span: a.city-item(href="javascript:;") 厦门
                      span: a.city-item(href="javascript:;") 东莞
                      span: a.city-item(href="javascript:;") 长春
                      span: a.city-item(href="javascript:;") 海口
                    .cities-list-item
                      dl.city-mod
                        dt A
                        dd 
                          span: a.city-item(href="javascript:;") 安庆
                          span: a.city-item(href="javascript:;") 安阳
                        hr
                      dl.city-mod    
                        dt B
                        dd 
                          span: a.city-item(href="javascript:;") 北京
                          span: a.city-item(href="javascript:;") 保定
                        hr
                      dl.city-mod
                        dt C
                        dd 
                          span: a.city-item(href="javascript:;") 重庆
                          span: a.city-item(href="javascript:;") 成都
                        hr
                      dl.city-mod    
                        dt D
                        dd 
                          span: a.city-item(href="javascript:;") 东莞
                          span: a.city-item(href="javascript:;") 大连
                        hr
                    .cities-list-item
                      dl.city-mod
                        dt H
                        dd 
                          span: a.city-item(href="javascript:;") 杭州
                          span: a.city-item(href="javascript:;") 合肥
                        hr
                      dl.city-mod    
                        dt I
                        dd 
                          span: a.city-item(href="javascript:;") 济南
                          span: a.city-item(href="javascript:;") 嘉兴
                        hr
                      dl.city-mod
                        dt K
                        dd 
                          span: a.city-item(href="javascript:;") 昆明
                          span: a.city-item(href="javascript:;") 开封
                        hr
                      dl.city-mod    
                        dt L
                        dd 
                          span: a.city-item(href="javascript:;") 兰州
                          span: a.city-item(href="javascript:;") 临沂                 
                        hr       
              .city-suggestion#citySug
                .city-suggestion-input
                  input(placeholder="搜索本地电影院")
                  i.placeholder.glyphicon.glyphicon-search
                .city-suggestion-list
                  h5 可售票影院
                  ul.auto-tip
      .container-fluid
        .row
          .col-md-6.screen   
            .middleImg
              a(href="javascript:;")
                img(src="/images/middleImg/1.jpg" alt="middelImg")
      .container-fluid
        .row
          .col-md-6.screen
            .classRange
              #classTop.classTop
                h4 选电影&nbsp;/&nbsp;选电视剧
                hr
                button.btn.btn-primary 热门
                button.btn.btn-default 最新
                button.btn.btn-default 经典
                button.btn.btn-default 豆瓣高分
                button.btn.btn-default 冷门佳片
                button.btn.btn-default 华语
                button.btn.btn-default 欧美
                button.btn.btn-default 韩国
                button.btn.btn-default 日本
                button.btn.btn-default 动作
                button.btn.btn-default 喜剧
                hr
            .screen#screenClass
              each cat in categories
                if cat.name === '热门电影' 
                  .panel.panel-default
                    #classBody.panel-body.m-screenBody
                      if cat.movies && cat.movies.length > 0
                        each item in cat.movies 
                          .col-md-3               
                            .thumbnail
                              a(href="/movie/#{item._id}")
                                if item.poster.indexOf('http:') > -1
                                  img(src="#{item.poster}", alt="#{item.title}")
                                else
                                  img(src="/upload/#{item.poster}", alt="#{item.title}")
                              .caption
                                h5 #{item.title}              
          .col-md-4.m-billboard
            each cat in categories
              if cat.name === '本周口碑榜' 
                .m-billboardHd
                  h4 本周口碑榜
                .m-billboardBd
                  table.table.table-hover
                    tbody
                      - var i = 1
                      if cat.movies && cat.movies.length > 0
                        each item in cat.movies 
                          if i <= 10                 
                            tr
                              td.order=i++ 
                              td 
                                a(href="/movie/#{item._id}") #{item.title}
      .container-fluid
        .row
          .col-md-6.screen#m-galleryFrames
            .panel.panel-default           
              .panel-heading.m-screenHeader.m-galleryHd
                h4 热门推荐
                .slide-tip
                  span.ui-side-index 1
                  &nbsp;/&nbsp;
                  span.ui-side-max 
                  span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                  span.glyphicon.glyphicon-chevron-right(aria-hidden="true")            
              .pannel-body.m-galleryHot
                ul.u-slideContent.clearfix(style="left:-578px")
                  li.u-slideItem
                    a(href="javascript:;")
                      img(src="/images/galleryFrames/4.jpg" alt="【豆瓣会客厅】王千源：用实力证明不凡")        
                    .u-slideDetail
                      .u-slideHd
                        a(href="javascript:;" target="_blank")
                          h5 【豆瓣会客厅】王千源：用实力证明不凡
                      .u-slideBD
                        p 在《解救吾先生》中扮演悍匪华子的王千源做客豆瓣会客厅。                
                  li.u-slideItem
                    a(href="javascript:;")
                      img(src="/images/galleryFrames/1.jpg" alt="【豆瓣会客厅】王千源：用实力证明不凡")        
                    .u-slideDetail
                      .u-slideHd
                        a(href="javascript:;" target="_blank")
                          h5 豆瓣会客厅】王千源：用实力证明不凡
                      .u-slideBD
                        p 在《解救吾先生》中扮演悍匪华子的王千源做客豆瓣会客厅。
                  li.u-slideItem
                    a(href="javascript:;")
                      img(src="/images/galleryFrames/2.jpg" alt="怒吼你心中的怪兽(╰_╯)")
                    .u-slideDetail
                      .u-slideHd
                        a(href="javascript:;" target="_blank")
                          h5 怒吼你心中的怪兽(╰_╯)
                      .u-slideBD
                        p 每个人的心里都有一个怪兽。或是贪，或是嗔，或是色，或是恶。
                  li.u-slideItem
                    a(href="javascript:;")
                      img(src="/images/galleryFrames/3.jpg" alt="关于电影本身的电影")        
                    .u-slideDetail
                      .u-slideHd
                        a(href="javascript:;" target="_blank")
                          h5 关于电影本身的电影
                      .u-slideBD
                        p 讲述和电影本身有关的一切的电影，电影幕后，电影明星，电影导演，电影海报，电影拍摄，电影制作，电影历史。让爱电影的人更了解电影。
                  li.u-slideItem
                    a(href="javascript:;")
                      img(src="/images/galleryFrames/4.jpg" alt="【豆瓣会客厅】王千源：用实力证明不凡")        
                    .u-slideDetail
                      .u-slideHd
                        a(href="javascript:;" target="_blank")
                          h5 【豆瓣会客厅】王千源：用实力证明不凡
                      .u-slideBD
                        p 在《解救吾先生》中扮演悍匪华子的王千源做客豆瓣会客厅。                    
                  li.u-slideItem
                    a(href="javascript:;")
                      img(src="/images/galleryFrames/1.jpg" alt="【豆瓣会客厅】王千源：用实力证明不凡")        
                    .u-slideDetail
                      .u-slideHd
                        a(href="javascript:;" target="_blank")
                          h5 豆瓣会客厅】王千源：用实力证明不凡
                      .u-slideBD
                        p 在《解救吾先生》中扮演悍匪华子的王千源做客豆瓣会客厅。                                                            
           
